/* You can add global styles to this file, and also import other style files */
body{
    background-color: #07afc3 !important;
}
.high{
    background-color: 	#dc0000 !important;
}
.meduim{
    background-color: #fd8c00 !important;
}
.low{
    background-color: #fdc500 !important;
}